@model IEnumerable<BmsWeb.Models.BMS_module>
@{
    ViewData["Title"] = "Index";
}
<script type="text/javascript">
    var chdatas = [];
    var chdatas2 = [];
    function getdata() {
            $.ajax({
                url: '@Url.Action("GetData", "BMS_Module")',
                type: "GET",
                dataType: 'json',
                async: true,
                data:'',
                success: function (data) {
                    chdatas = data;
                    console.log(chdatas);
                    google.charts.load('current', { 'packages': ['corechart'] });
                    google.charts.setOnLoadCallback(drawChart);
                }
            });
    }
    function putdata(date1,date2,value) {
        $.ajax({
            url: '@Url.Action("PostData", "BMS_Module")',
            type: 'post',
            async: true,
            dataType: 'json',
            data: { date1: date1, date2: date2,value:value},
            success: function (data) {
                chdatas2 = data;
                console.log(chdatas2);
                console.log(value);
                console.log(date1);
                console.log(date2);
                google.charts.load('current', { 'packages': ['corechart'] });
                if (value === "Vall") {
                    google.charts.setOnLoadCallback(drawhistoryChart(1));
                }
                else if(value === "Tall") {
                    google.charts.setOnLoadCallback(drawhistoryChart(2));
                }
            }           
            });
    }
    function drawChart(status) {
        data1 = 'V1(v)';
        data2 = 'V2(v)';
        data3 = 'V3(v)';
        data4 = 'V4(v)';
        data5 = 'V5(v)';
        data6 = 'V6(v)';
        data7 = 'V7(v)';
        data8 = 'V8(v)';
        dataTable = new google.visualization.DataTable();
        dataTable.addColumn('string', 'Time');
        dataTable.addColumn('number', data1);
        dataTable.addColumn('number', data2);
        dataTable.addColumn('number', data3);
        dataTable.addColumn('number', data4);
        dataTable.addColumn('number', data5);
        dataTable.addColumn('number', data6);
        dataTable.addColumn('number', data7);
        dataTable.addColumn('number', data8);
        for (i in chdatas) {
            dataTable.addRows([[i + '', chdatas[i].V1, chdatas[i].V2, chdatas[i].V3, chdatas[i].V4, chdatas[i].V5, chdatas[i].V6, chdatas[i].V7, chdatas[i].V8]]);
        }       
        options = {
            title: '即時趨勢圖',
            pointSize: 2,
            height: 280,
            legend: { position: 'bottom' },
            hAxis: {
                title: 'Time(max15min)',
                maxValue: 600,

            },
            vAxis: {
                title: 'value',

            }
        };
        chart = new google.visualization.LineChart(document.getElementById('mainchart')); 
        chart.draw(dataTable, options);
        dataTable = null;
        chart = null;
        chdatas = [];
    }    
    function drawhistoryChart(status) {
        if (status ===1) {
            data1 = 'V1(v)';
            data2 = 'V2(v)';
            data3 = 'V3(v)';
            data4 = 'V4(v)';
            data5 = 'V5(v)';
            data6 = 'V6(v)';
            data7 = 'V7(v)';
            data8 = 'V8(v)';
        }
        else if (status ===2) {
            data1 = 'T1';
            data2 = 'T2';
            data3 = 'T3';
            data4 = 'T4';
            data5 = 'T5';
            data6 = 'T6';
            data7 = 'T7';
            data8 = 'T8';
        }      
        dataTable = new google.visualization.DataTable();
        dataTable.addColumn('string', 'Time');
        dataTable.addColumn('number', data1);
        dataTable.addColumn('number', data2);
        dataTable.addColumn('number', data3);
        dataTable.addColumn('number', data4);
        dataTable.addColumn('number', data5);
        dataTable.addColumn('number', data6);
        dataTable.addColumn('number', data7);
        dataTable.addColumn('number', data8);


        if (status ===1) {
            for (i in chdatas2) {
                dataTable.addRows([[i + '', chdatas2[i].V1, chdatas2[i].V2, chdatas2[i].V3, chdatas2[i].V4, chdatas2[i].V5, chdatas2[i].V6, chdatas2[i].V7, chdatas2[i].V8]]);
            }
        }
        else if (status ===2) {
            for (i in chdatas2) {
                dataTable.addRows([[i + '', chdatas2[i].T1, chdatas2[i].T2, chdatas2[i].T3, chdatas2[i].T4, chdatas2[i].T5, chdatas2[i].T6, chdatas2[i].T7, chdatas2[i].T8]]);
            }
        }
        options = {
            title: '即時趨勢圖',
            pointSize: 2,
            height: 280,
            legend: { position: 'bottom' },
            hAxis: {
                title: 'Time(max15min)',
                maxValue: 600,

            },
            vAxis: {
                title: 'value',

            }
        };
        chart = new google.visualization.LineChart(document.getElementById('curve_chart')); 
        chart.draw(dataTable, options);
        dataTable = null;
        chart = null;
        chdatas = [];
    }    
    function spinnerList(selector) {
    $(selector).empty();
    if (selector === '#hh' || selector === '#hh2') {
        for (var i = 0; i <= 23; i++) {
            $(selector).append('<option value=' + '"' + i + '"' + 'selected="selected"  >' + i + '</option>');
        }
    }
    else if (selector === '#mm' || selector === '#mm2') {
        for (i = 0; i <= 59; i++) {
            $(selector).append('<option value=' + '"' + i + '"' + 'selected="selected"  >' + i + '</option>');
        }
    }
    }
    function selectsetting() {
    var search = document.getElementById("search");
    var searchselect = search.searchselect.value;
    console.log(searchselect);   
}
    function searchdata() {
        var search = document.getElementById("search");
        var searchselect = search.searchselect.value;
        var y = search.idYear.value;
        var m = search.idMonth.value;
        var d = search.idDay.value;
        var y2 = search.idYear2.value;
        var m2 = search.idMonth2.value;
        var d2 = search.idDay2.value;
        var hh = search.hh.value;
        var mm = search.mm.value;
        var hh2 = search.hh2.value;
        var mm2 = search.mm2.value;
        var date1 = y + "-" + m + "-" + d + " " + hh+":"+mm+":"+"00.000";
        var date2 = y2 + "-" + m2 + "-" + d2 + " " + hh2 + ":" + mm2 + ":" + "00.000";
        putdata(date1, date2, searchselect);
}
</script>
<script type="text/javascript">
    $(document).ready(function () {
        getdata();
        spinnerList('#hh');
        spinnerList('#hh2');
        spinnerList('#mm');
        spinnerList('#mm2');
        var myVar2 = setInterval(function () {
                getdata();
                //re();
            }, 3000);
    });   
</script>
<div id="somediv"></div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="panel panel-info table-responsive scroll" style="border-width:3px;border-style:dashed;border-color:#A9A9A9;padding:5px;">
                <div class="panel-heading  text-center" style="background-color:mediumseagreen"><span style="font-size:24px">BMS</span></div>
                <table class="table" style="text-align:center;">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.V1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.V2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.V3)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.V4)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.V5)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.V6)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.V7)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.V8)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var V1 = @Html.DisplayFor(modelItem => item.V1);
                            <tr>
                                <td>
                                    @(V1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.V2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.V3)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.V4)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.V5)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.V6)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.V7)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.V8)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.T1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.T2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.T3)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.T4)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.T5)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.T6)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.T7)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.T8)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.T1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.T2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.T3)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.T4)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.T5)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.T6)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.T7)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.T8)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class=" col-md-6"></div><br />
    </div>
    <div class="col-md-12">
        <div id="mainchart" class="panel panel-info " style="border-width:3px;border-style:dashed;border-color:#A9A9A9;padding:5px;"></div>
        <br />
    </div>
    <div class="row">
        <div class="col-md-4">
            <form name="serch"id="search">
                <div class=" card" style=" border-width:3px;border-style:dashed;border-color:#A9A9A9;padding:5px;background-color:white;">
                    <div class="card-header text-center" style="font-size: 18px;">搜尋條件</div>
                    <div class="card-body">
                        <div class="col-md-12text-center">
                            <select class="form-control" id="searchselect" onclick="selectsetting()">
                                <option value='Vall'>Vall</option>
                                <option value='Tall'>Tall</option>                                
                            </select>
                            <br />
                        </div>
                        <div class="row text-center">
                            <div class="col-12">起始時間</div>
                            <div class="col-4">
                                <span style="font-size: 15px; font-family: Microsoft JhengHei;">年</span>
                                <select class="form-control" id="idYear"></select>
                            </div>
                            <div class="col-4">
                                <span style="font-size: 15px; font-family: Microsoft JhengHei;">月</span>
                                <select class="form-control" id="idMonth"></select>
                            </div>
                            <div class="col-4 ">
                                <span style="font-size: 15px; font-family: Microsoft JhengHei;">日</span>
                                <select class="form-control" id="idDay"></select>
                            </div>
                            <div class="col-12">時間</div>
                            <div class="form-group col-md-4">
                                <select class="form-control" id="hh"></select>
                            </div>
                            <div class="form-group col-md-2"><label>點</label></div>
                            <div class="form-group col-md-4">
                                <select class="form-control" id="mm"></select>
                            </div>
                            <div class="form-group col-md-2"><label>分</label></div>
                            <script>
                                var ds = new DateSelector("idYear", "idMonth", "idDay", {
                                    MaxYear: new Date().getFullYear() + 12,
                                    onChange: function () { $$("idShow").innerHTML = this.Year + "/" + this.Month + "/" + this.Day; }
                                }).onload; ds.onChange();</script>

                            <div class="col-12">結束時間</div>
                            <div class="col-4">
                                <span style="font-size: 15px; font-family: Microsoft JhengHei;">年</span>
                                <select class="form-control" id="idYear2"></select>
                            </div>
                            <div class="col-4">
                                <span style="font-size: 15px; font-family: Microsoft JhengHei;">月</span>
                                <select class="form-control" id="idMonth2"></select>
                            </div>
                            <div class="col-4 ">
                                <span style="font-size: 15px; font-family: Microsoft JhengHei;">日</span>
                                <select class="form-control" id="idDay2"></select>
                            </div>
                            <div class="col-12">時間</div>
                            <div class="form-group col-md-4">
                                <select class="form-control" id="hh2"></select>
                            </div>
                            <div class="form-group col-md-2"><label>點</label></div>
                            <div class="form-group col-md-4">
                                <select class="form-control" id="mm2"></select>
                            </div>
                            <div class="form-group col-md-2"><label>分</label></div>
                            <script>
                                var ds2 = new DateSelector("idYear2", "idMonth2", "idDay2", {
                                    MaxYear: new Date().getFullYear() + 12,
                                    onChange: function () { $$("idShow").innerHTML = this.Year + "/" + this.Month + "/" + this.Day; }
                                }).onload; ds2.onChange();</script>
                            <div class="col-12 text-center">
                                <button id="btPause" type="button" class="btn btn-info " onclick="searchdata()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>搜尋</button>
                            </div>
                        </div>
            
                    </div>
                </div>            
            </form>
        </div>
        <div class=" col-md-8 text-center">
            <div class="card" style=" border-width:3px;border-style:dashed;border-color:#A9A9A9;padding:5px;background-color:white;">
                <div class="card-header" style="font-size: 18px;">歷史趨勢圖</div>
                <div class="card-body">
                    <div id="curve_chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>