@model IEnumerable<BmsWeb.Models.BMS_module>
@{
    ViewData["Title"] = "Index";
}
<script type="text/javascript">
    var chdatas = [];
    function getdata() {
            $.ajax({
                url: '@Url.Action("GetData", "BMS_Module")',
                type: "GET",
                dataType: 'json',
                async: true,
                data:'',
                success: function (data) {
                    chdatas = data;
                    console.log(chdatas);
                    console.log(chdatas[1]);

                    google.charts.load('current', { 'packages': ['corechart'] });
                    google.charts.setOnLoadCallback(drawChart);
                }
            });
        }
    function drawChart() {
        data1 = 'V1(v)';
        data2 = 'V2(v)';
        data3 = 'V3(v)';
        data4 = 'V4(v)';
        data5 = 'V5(v)';
        data6 = 'V6(v)';
        data7 = 'V7(v)';
        data8 = 'V8(v)';
      
        dataTable = new google.visualization.DataTable();
        dataTable.addColumn('string', 'Time');
        dataTable.addColumn('number', data1);
        dataTable.addColumn('number', data2);
        dataTable.addColumn('number', data3);
        dataTable.addColumn('number', data4);
        dataTable.addColumn('number', data5);
        dataTable.addColumn('number', data6);
        dataTable.addColumn('number', data7);
        dataTable.addColumn('number', data8);

        for (i in chdatas) {
            console.log(chdatas[i].V1)
            dataTable.addRows([[i + '', chdatas[i].V1, chdatas[i].V2, chdatas[i].V3, chdatas[i].V4, chdatas[i].V5, chdatas[i].V6, chdatas[i].V7, chdatas[i].V8]]);
        }
        options = {
            title: '趨勢圖',
            pointSize: 2,
            height: 280,
            legend: { position: 'bottom' },
            hAxis: {
                title: 'Time(max15min)',
                maxValue: 600,

            },
            vAxis: {
                title: 'value',

            }
        };
        chart = new google.visualization.LineChart(document.getElementById('mainchart'));

        chart.draw(dataTable, options);
        dataTable = null;
        chart = null;
    }
function chartnow() {
    getdata();
}
</script>
<script type="text/javascript">
    $(document).ready(function () {
        getdata();
        var myVar2 = setInterval(function () {
                chartnow();
                //re();
            }, 3000);
    });   
</script>
<div id="somediv"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info table-responsive scroll" style="border-width:3px;border-style:dashed;border-color:#A9A9A9;padding:5px;">
                <div class="panel-heading  text-center" style="background-color:mediumseagreen"><span style="font-size:24px">BMS</span></div>
                <table class="table" style="text-align:center;">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.V1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.V2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.V3)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.V4)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.V5)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.V6)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.V7)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.V8)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var V1 = @Html.DisplayFor(modelItem => item.V1);
                            <tr>
                                <td>
                                    @(V1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.V2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.V3)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.V4)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.V5)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.V6)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.V7)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.V8)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.T1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.T2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.T3)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.T4)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.T5)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.T6)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.T7)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.T8)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.T1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.T2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.T3)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.T4)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.T5)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.T6)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.T7)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.T8)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">

            <div id="mainchart" style="width: 800px; height: 300px;border-width:3px;border-style:dashed;border-color:#A9A9A9;padding:5px;"></div>
        </div>
    </div>