@model IEnumerable<net_mvc_day05.Models.Module_data>

@{
    ViewBag.Title = "ReportList_A";
}
<table class="table">    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Module_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.V1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.V2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.V3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.V4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.V5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.V6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.V7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.V8)
        </td>
        </tr><tr>
        <td>
            @Html.DisplayFor(modelItem => item.T1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T8)
        </td>
    </tr>
}
</table>
